body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(24, 1fr);
  scroll-snap-type: y mandatory;
}

div {
  /* height: 10vh; */
  scroll-snap-align: start;
  display: grid;
  align-items: center;
  text-align: center;
  background-color: #39cccc;
  border: thin dashed #ff851b;
}

.input {
  border: none;
}
